.list-wrapper {
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  width: 100%;
  max-width: 350px;
  cursor: pointer;
  transition: 0.3s all;
}

.item:hover {
  transform: scale(1.03);
}

.bookImg {
  border-radius: 5px;
}
